
* {
    margin: 0;
    padding: 0;
  }

body {
  background-color: #F5FCFE;
}

/* Navigation */
.navigation {
  background-color: #F5AF58;
  height: 113px;

}

.navigation li {
  display: inline-block;
  margin: 5px 20px;

}

.navigation ul {
  text-align: right;
  padding: 25px;
}
/* Anchor  */
a {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 26px;
  text-decoration: none;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  float: left;
  font-size: 26px;
  margin-top: 15px;
  padding: 15px 0px;
}
/* img logo */
.navigation img {
  position: relative;
  float: left;
  height: 100%;
  padding-left: 20px

}


.navigation h1 {
  position: relative;

}

/* Search */

div.searchBox {
    float: right;
    padding: 0px 0px 0px;
    margin-top: 17px;
    margin-right: 25px;
    background-color: #F0F0F0;


}
input {
  padding: 9px 20px 14px 16px;
  background-color: #F0F0F0;
  color: #BBBBBB;
  font-size: 25px;
  font-weight: 100;
  /* border-style: outset; */
  box-shadow: 5px 10px #888888
}
.fa-search {
  font-size: 30px;
  position: absolute;
  right: 0px;
  padding: 14px 34px;
  pointer-events: none;

}

/* midle section */
.img img {
  float: left;
  height: 100%;
  position: relative;
  width: 617px;
}
p {
  text-align: left;
  padding: 146px 76px 0px 735px;
  margin-top: 9px;
  margin-right: 32px;
  font-size: 35px;
  font-family: Montserrat, sans-serif;
  color: #F4AF5D;
}
/* buttons  */
div.buttons {
  text-align: right;
  padding: 60px 51px
}
.buttons button1 {
    background-color: #7CC285;
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin: 153px 12px;
    padding: 15px 0px;
    display: inline-block;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    width: 17%;
    text-align: center;


}
.buttons button2 {
    background-color: #F5AF58;
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin: 153px 12px;
    padding: 15px 0px;
    display: inline-block;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    width: 17%;
    text-align: center;
  }

/* footer  */

footer {
    text-align: center;
    background-color: #7CC285;
    height: 113px
  }
  footer ul {
      font-size: 33px;
      padding: 6px;
      color: white;
  }

   footer ul li {
     display: inline-block;
     margin: 31px 15px;
   }
